<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}
        subject: <input name="subject" type="text" max_length="255"> <br>
        Message: <textarea name="message">Content goes here..</textarea>
        Your email: <input name="email" type="email">
        <input type="submit" name="submit" value="Send MEssage">
        <!-- <button type="submit" name="submit" value="submit"></button> -->
    </form>
    
</body>
</html>